# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
!/tmp/.keep

# Ignore system files
*.swp
.DS_Store
.env
.env.*

# Ignore SQLite database (if you're using SQLite)
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore credentials (if not using encrypted ones)
config/master.key
